* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100%;
}

#background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 32px;
}

.drop-area {
  background: rgba(179, 199, 202, 0.8);
  min-height: 200px;
  margin: 5px;
  padding-bottom: 20px;
  width: 33%;
  border-radius: 10px;
  transition: all .5s;
}
.drop-area:hover {
  width: 36%;
}

.item-container {
  padding: 15px;
  background: rgb(47, 150, 163);
  margin: 20px;
  color: #fff;
  font-weight: 100;
  cursor: move;
  cursor: grab;
  border-radius: 4px;
  transition: background .4s;
}
.item-container:hover {
  background: rgba(15, 89, 89, 0.9);
}

h1 {
  color: #FB6964;
  padding: 20px 0 0 20px;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  font-weight: 100;
}


select{
  border: 2px solid #FB6964;
  display: block;
  margin: 50px auto !important;
  width: 40%;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  color: #000;
  transition: all .5s ease;
}
input {
  border: 2px solid #FB6964;
  display: block;
  margin:auto !important;
  margin-top: -30px !important;
  width: 40%;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  color: #000;
  transition: all .5s ease;
}


.btn {
  background-color: #f44336 !important; /* Green */
  border: none !important;
  color: white!important;

  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  cursor: pointer !important;
  float:right;
}

h1{
font-size: 90% !important;
}

@media (max-width:400px){
  .drop-area {
    background: rgba(179, 199, 202, 0.8);
    min-height: 200px;
    margin: 5px;
    padding-bottom: 20px;
    width: 33%;
    border-radius: 10px;
    transition: all .5s;
  }
  .drop-area:hover {
    width: 36%;
  }
  
  .item-container {
    padding: 15px;
    background: rgb(47, 150, 163);
    margin: 20px;
    color: #fff;
    font-weight: 100;
    cursor: move;
    cursor: grab;
    border-radius: 4px;
    transition: background .4s;
  }
  .item-container:hover {
    background: rgba(15, 89, 89, 0.9);
  }
  .addbtn{
    margin:0 40%;
    position:relative;
    left:-50px;
    margin-top: 1%;
    background-color:  #FB6964;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  
  }

}

.todonumstyle{
  background-color: #fff;
  color: green;
  padding:2%;
  border-radius: 50%;
  float:right;
  margin-right:2%;
}

.addbtn{
  margin:0 67%;
  position:relative;
  left:-50px;
  margin-top: 1%;
  background-color:  #FB6964;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}